@using onessaye.Models.POCO;
@model onessaye.Views.ViewClasses.DisplayRecipeInformations

@*Bisconti Flavian*@

<h2>CheckRecipe</h2>
<div>
    <p><b>Name : </b>@Model.r.Name</p>
    <p><b>Type : </b>@Model.r.Type</p>
    <h4>List of ingredients</h4>
    <ul>
        @foreach(Ingredient ing in Model.r.ListIngredients)
        {
            <li>@ing</li>
        }
    </ul>
    <p><a href="~/Recipe/AcceptedRecipe">Confirm recipe</a> 
        <a href="~/Recipe/DisplayRecipeForm">Cancel recipe</a>
    </p>
</div>

