@using onessaye.Models.POCO;
@model onessaye.Views.ViewClasses.DisplayRecipeInformation

@*Bisconti Flavian*@

<p><a href="~/Home/Index">Log Out</a></p>

<h3>Your recipe has been added successfully</h3>
@Html.Partial("CheckRecipe")
<div>
    <p>@Html.ActionLink("Back to your profile", "BackToProfilePage", new { cook_nickname = ViewBag.Cook})</p>
</div>
