<!DOCTYPE html>
<html>
<head>
    <title>Welcome to IKitchen!</title>
</head>
<body>
    <p><img alt="IKitchen Logo" src="~/Content/Images/logo.jpg" /></p>
    <p><a href="~/Recipe/Catalogue">Catalogue</a></p>
    <div>
        @RenderBody()
    </div>
</body>
@Html.Partial("_Footer")
</html>