<!DOCTYPE html>
<html>
<head>
    <title>Welcome to IKitchen!</title>
</head>
<body>
    <p><img alt="IKitchen Logo" src="~/Content/Images/logo.jpg" /></p>
    <p><input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" /> | <a href="~/Recipe/Catalogue">Catalogue</a> | <a href="~/Home/Index">Connection page</a> | <a href="~/Register/Index">Register</a></p>
    <div>
        @RenderBody()
    </div>
</body>
@Html.Partial("_Footer")
</html>