<!DOCTYPE html>
<html>
<head>
    <title>Welcome to IKitchen!</title>
</head>
<body>
    <img alt="IKitchen Logo" src="~/Content/Images/logo.jpg" />
    <div>
        @RenderBody()
    </div>
</body>
@Html.Partial("_Footer")
</html>