@model onessaye.Views.ViewClasses.DisplayUserInformation
@using onessaye.Models.POCO;

@{
    List<Recipe> l_recipes = ViewBag.ListRecipes;
}

@*Bisconti Flavian*@

<p><a href="~/Home/Index">Log Out</a></p>

<h2>Profile</h2>
<div>
    <table border="1">
        @for (int i = 0; i < Model.TabLabels.Length; i++)
        {
            <tr>
                <th>@Model.TabLabels[i]</th>
                <td>@Model.TabInfos[i]</td>
            </tr>
        }
    </table>
</div>
@if (Model.User is Cook)
{
<div>
    <p>@Html.RouteLink("Create a new recipe", "AddRecipe", new { Cook = Model.User.Nickname, NbIngredients = 3 })</p>
    <h4>Your recipes</h4>
        <ul>
            @foreach (Recipe recipe in l_recipes)
            {
                <li>@recipe</li> 
            }
        </ul>
</div>
}