@model onessaye.Views.ViewClasses.DisplayUserInformation

@*Bisconti Flavian*@

<div>
    <a href="~/Recipe/DisplayRecipeForm">Add a new recipe</a>
</div>

<h2>Profile</h2>
<div>
    <table border="1">
        @for(int i=0;i<Model.TabLabels.Length; i++)
        {
            <tr>
                <th>@Model.TabLabels[i]</th>
                <td>@Model.TabInfos[i]</td>
            </tr>
        }
    </table>
</div>

